{{! CREATE form }}
<h2>Edit Screen</h2>
<form class='cuForm' id='edit_screen_form'>
    <table>
        <thead>
            <tr>
                <th>Screen ID</th>
                <th>Screen Number</th>
                <th>Seating Capacity</th>
                <th>Submit</th>
            </tr>
        </thead>

        <tbody>
            <td>
                <input type='number' name='edit_screen' id='edit_screen' readonly />
            </td>
            <td>
                <input type='number' name='edit_screen_num' id='edit_screen_num' required />
            </td>
            <td>
                <input type='number' name='edit_screen_capacity' id='edit_screen_capacity' required/>
            </td>
            <td>
                <button type="submit">Update Screen</button>
            </td>
        </tbody>
    </table>
</form>