{{! CREATE form }}
<h2>Edit Ticket</h2>
<form class='cuForm' id='edit_ticket_form'>
    <table>
        <thead>
            <tr>
                <th>Ticket ID</th>
                <th>Purchase Date</th>
                <th>Ticket Price</th>
                <th>Show Time</th>
                <th>Customer</th>
                <th>Submit</th>
            </tr>
        </thead>

        <tbody>
            <td>
                <input type='number' name='edit_ticket_id' id='edit_ticket_id' readonly />
            </td>
            <td>
                <input type='datetime-local' name='edit_ticket_date' id='edit_ticket_date'  />
            </td>
            <td>
                <input type="number" id="edit_ticket_price"  placeholder="Enter a Price" step="0.01" min="0" inputmode="decimal">
            </td>
            <td>
                <form class='cuForm' id='update_ticket_form'>
                    <select disabled>
                            {{#each movieList}}
                                <option value='{{this.ticketID}}'>
                                    {{this.showtimeLabel}}
                            </option>
                            {{/each}}
                    </select>
                </form>
            </td>

            <td>
                <form class='cuForm' id='update_customer_form'>
                    <select disabled>
                            {{#each customerList}}
                                <option value='{{this.customerID}}'>
                                    {{this.name}}
                            </option>
                            {{/each}}
                    </select>
                    </select>
                </form>
            </td>
            
            <td>
                <button type="submit">Update Ticket</button>
            </td>
        </tbody>
    </table>
</form>