{{! CREATE form }}
<h2>Edit Showtime</h2>
<form class='cuForm' id='edit_showtime_form'>
    <table>
        <thead>
            <tr>
                <th>Showtime ID</th>
                <th>Show Date</th>
                <th>Start Time</th>
                <th>Movie</th>
                <th>Screen Number</th>
                <th>Submit</th>
            </tr>
        </thead>

        <tbody>
            <td>
                <input type='number' name='edit_showtime_id' id='edit_showtime_id'  readonly/>
            </td>
            <td>
                <input type='date' name='edit_showtime_date' id='edit_showtime_date' required />
            </td>
            <td>
                <input type='time' name='edit_showtime_time' id='edit_showtime_time' required/>
            </td>
            <td>
                <form class='cuForm' id='update_showtime_form'>
                    <select name='update_showtime_movie' id='update_showtime_movie' required>
                        <option value='' disabled selected>Select a Movie</option>
                        {{#each movieList}}
                        <option value='{{this.movieID}}' required>
                            {{this.title}}
                        </option>
                        {{/each}}
                    </select>
                </form>
            </td>
            <td>
                <form class='cuForm' id='update_screen_form'>
                    <select name='update_showtime_screen' id='update_showtime_screen' required>
                        <option value='' disabled selected>Select a Screen</option>
                        {{#each screenList}}
                        <option value='{{this.screenID}}' required>
                            {{this.screenNumber}}
                        </option>
                        {{/each}}
                    </select>
                </form>
            </td>
            <td>
                <button type="submit">Update Showtime</button>
            </td>
        </tbody>
    </table>
</form>